* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #E2E7EC;
	font-family: sans-serif;
}

.container {
	width: 83%;
	margin: 0 auto;
	margin-top: 91px;
	
}

.blog__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.blog__items__item:first-child {
	flex-basis: 740px;
}


.blog__items__item {
	background-color: #FFF;
	flex-basis: 360px;
	height: 540px;
	margin-bottom: 20px;
	
}

.concept_cars {
	background: url(../img/Rectangle4copy7.png);

}

.heading {
	text-transform: uppercase;
}

.heading h1 {
	font-size: 22px;
	font-weight: bold;
	color: #1D1D1D;
	margin: 0;
}

.heading span {
	font-size: 13px;
	color: #818181;
}

.concept_cars h1, .concept_cars span {
	color: #FFFFFF;
}

.info {
	margin-left: 27px;
	margin-top: 29px;
}

.info h1 {
	margin-top: 21px;
	line-height: 1.4em;
}


.photo__human {
	margin-top: 52px;
}

.heading__Growth {
	
	margin-top: 67px;
}

.heading__Growth h1 {
	
	margin: 0;
}

.concept_cars__heading {
	margin-left: 44px;
	margin-top: 405px;
}

.concept_cars__heading h1 {
	margin-top: 21px;
	font-size: 30px;
}

.concept_cars__heading span {
	color: #99968F;
}

.footer__items {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 102px;
}

.footer__items__span {
	vertical-align: 50%;
	margin-left: 13px;
	color: #99A5B0;
	font-size: 13px;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}